# Created by https://www.toptal.com/developers/gitignore/api/terraform
# Edit at https://www.toptal.com/developers/gitignore?templates=terraform

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.pem
env/Dev/IaC-Dev
env/Prod/IaC-Prod
env/Dev/IaC-Dev.pub
env/Prod/IaC-Prod.pub
