# Created by https://www.toptal.com/developers/gitignore/api/terraform
# Edit at https://www.toptal.com/developers/gitignore?templates=terraform

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.pem

env/Prod/IaC-Prod
env/Prod/IaC-Prod.pub
env/Dev/IaC-DEV.pub
env/Dev/IaC-DEV
infra/.terraform.lock.hcl
env/Dev/.terraform.lock.hcl
env/Prod/.terraform.lock.hcl
IaC-DEV

IaC-Prod
__pycache__/carga.cpython-310.pyc
